$primary: #ddd;
$dark: #333;
$light: #fff;
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

$mobile_height: 4000px;

$colors:(
    "primary": $primary,
    "dark": $dark,
    "light": $light,
    "shadow": $shadow,
    "green": #00ca85,
    "blue": #0085ca,
    "yellow": #ffce00,

);